PORT=3000
MONGO_URI=mongodb+srv://ashish:z0VLLiFDDNIXixyJ@interview-genai-cluster.b4sqylf.mongodb.net/interview-ai-pro
JWT_SECRET=interview_ai_pro_jwt_secret_key_2026
GOOGLE_GENAI_API_KEY=AIzaSy...
CLIENT_URL=http://localhost:5173
